{{#extend "base"}}
  {{#content "main" mode="prepend" }}

    <body id="page2">
      <section class="mw8 center ph3-ns pv4">
        <div class="cf ph2-ns">
          <div class="fl w-100 w-50-ns pa2">
            <a href="/" class="h2 f4 lh-copy">Katie Lentile</a>
          </div>
          <div class="fl w-100 w-50-ns pa2 u-flex--sb">
            <a href="/about" class="h2 f4 lh-copy nav-link">About</a>
            <a href="/services" class=" h2 f4 lh-copy nav-link">Services</a>
            <a target="_blank" href="https://medium.com/@KatieLentile" class="h2 f4 lh-copy nav-link">Journal</a>
            <div>
              <a href="/services" class="btn btn-primary">Apply</a>
            </div>
          </div>
        </div>
      </section>
      <section class="mw8 center ph3-ns pt4">
        <div class="cf ph2-ns">
          <div class="fl w-100 w-50-ns pa2">
            <div class="pa2">
              <img src="/img/katie/about.jpg" class="" alt="Headshot of Katie Lentile" />
            </div>
          </div>
          <div class="fl w-100 w-50-ns pa2">
            <div class="pa2">
              <h1 class="f2 lh-copy">About Katie</h1>
              <h4 class="f5 lh-copy">Over the past decade, Katie has worked alongside clients both locally and abroad. Utilizing her hands-on experience and widespread knowledge, she's been able to bring valuable insight to freelancers, companies, and organizations, ensuring their businesses not only grow, but grow well.</h4><br>
              <h4 class="f5 lh-copy">Having successfully created strategies and launched campaigns for over a dozen companies (including Kenneth Cole, Google, WELD, Vanderbilt University, and Flip Flop Wines), Katie leads all her projects with one guiding principle: there is no ‘one size fits all’ solution. She firmly believes the key to building a successful business is meeting one-on-one and learning what makes you or your product unique. From there, she works with you to create a strategic plan forward, helping you establish scalable growth, long-term sustainability, and an overall sense of confidence in your business.</h4><br>
              <h4 class="f5 lh-copy">When you work with Katie, you’re investing in an individual who’s dedicated to fulfilling your unique vision and goals — something that can’t be replicated by a catch-all course or business manual.</h4><br>
              <h4 class="f5 lh-copy">You can learn more about Katie and her services by viewing her <a class="a-text" href="/services">packages</a> or reading her <a class="a-text" href="https://medium.com/@KatieLentile">tips and updates.</a></h4>
            </div>
          </div>
        </div>
      </section>
      <section class="pv3">
        <div class="mw8 center ph3-ns">
          <div class="cf ph2-ns">
            <div class="fl w-100 w-50-ns pa2">
              <div class="">
                <h2 class="f2 lh-copy">Client List</h2>
                <h4 class="f5 lh-copy">Kenneth Cole</h4>
                <h4 class="f5 lh-copy">WELD</h4>
                <h4 class="f5 lh-copy">Vanderbilt University</h4>
                <h4 class="f5 lh-copy">Google</h4>
                <h4 class="f5 lh-copy">Branden Harvey - Good Good Good</h4>
                <h4 class="f5 lh-copy">Sole Hope</h4>
                <h4 class="f5 lh-copy">Nutrition Stripped</h4>
                <h4 class="f5 lh-copy">Ali Makes Things</h4>
                <h4 class="f5 lh-copy">Soles4Soles</h4>
                <h4 class="f5 lh-copy">Flip Flop Wines</h4>
                <h4 class="f5 lh-copy">Mindmeet</h4>
                <h4 class="f5 lh-copy">Seeds of Africa</h4>
                <h4 class="f5 lh-copy">Lipscomb University</h4>
                <h4 class="f5 lh-copy">No.41</h4>
                <h4 class="f5 lh-copy">At Her Table</h4>
                <h4 class="f5 lh-copy">Amy Stroup</h4>
                <h4 class="f5 lh-copy">Ian Cron - Typology</h4>
                <h4 class="f5 lh-copy">CMStudio</h4>
                <h4 class="f5 lh-copy">Mission Lazarus</h4>
                <h4 class="f5 lh-copy">Loop Events</h4>
              </div>
            </div>
            <div class="fl w-100 w-50-ns pa2">
              <div class="">
                <h2 class="f2 lh-copy">Work Featured In</h2>
                <h4 class="f5 lh-copy">CNN</h4>
                <h4 class="f5 lh-copy">The Huffington Post</h4>
                <h4 class="f5 lh-copy">Conde Nast Traveler</h4>
                <h4 class="f5 lh-copy">WWD</h4>
                <h4 class="f5 lh-copy">Teen Vogue</h4>
                <h4 class="f5 lh-copy">USA Today</h4>
                <h4 class="f5 lh-copy">RYOT</h4>
                <h4 class="f5 lh-copy">Parade</h4>
                <h4 class="f5 lh-copy">Marie Claire</h4>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="pv2">
        <div class="mw8 center ph3-ns">
          <div class="cf ph2-ns">
            <div class="fl w-100 w-50-ns pa2">
              <div class="">
                <h2 class="f2 lh-copy">Countries I've Worked In</h2>
                <h4 class="f5 lh-copy">United States of America</h4>
                <h4 class="f5 lh-copy">Austria</h4>
                <h4 class="f5 lh-copy">Belgium</h4>
                <h4 class="f5 lh-copy">China</h4>
                <h4 class="f5 lh-copy">Costa Rica</h4>
                <h4 class="f5 lh-copy">Czech Republic</h4>
                <h4 class="f5 lh-copy">Denmark</h4>
                <h4 class="f5 lh-copy">Ethiopia</h4>
                <h4 class="f5 lh-copy">France</h4>
                <h4 class="f5 lh-copy">Germany</h4>
                <h4 class="f5 lh-copy">Haiti</h4>
                <h4 class="f5 lh-copy">Honduras</h4>
                <h4 class="f5 lh-copy">Hungary</h4>
                <h4 class="f5 lh-copy">India</h4>
                <h4 class="f5 lh-copy">Italy</h4>
                <h4 class="f5 lh-copy">Jamaica</h4>
                <h4 class="f5 lh-copy">Japan</h4>
                <h4 class="f5 lh-copy">Kenya</h4>
                <h4 class="f5 lh-copy">Mexico</h4>
                <h4 class="f5 lh-copy">Morocco</h4>
                <h4 class="f5 lh-copy">Netherlands</h4>
                <h4 class="f5 lh-copy">Nicaragua</h4>
                <h4 class="f5 lh-copy">Peru</h4>
                <h4 class="f5 lh-copy">Rwanda</h4>
                <h4 class="f5 lh-copy">Slovenia</h4>
                <h4 class="f5 lh-copy">Switzerland</h4>
                <h4 class="f5 lh-copy">Tanzania</h4>
                <h4 class="f5 lh-copy">Turkey</h4>
                <h4 class="f5 lh-copy">Uganda</h4>
                <h4 class="f5 lh-copy">United Arab Emirates</h4>
                <h4 class="f5 lh-copy">United Kingdom</h4>
              </div>
            </div>
            <div class="fl w-100 w-50-ns pa2">
              <div class="">
                <h2 class="f2 lh-copy">Community Involvement</h2>
                <h4 class="f5 lh-copy">Nashville's 30 Under 30 - 2010</h4>
                <h4 class="f5 lh-copy">Haiti Design Co - Board of Directors 2015 - Present</h4>
                <h4 class="f5 lh-copy">Exile International - Board of Advisors 2009 - 2011</h4>
                <h4 class="f5 lh-copy">Linda's Hope - Board of Directors 2010 - 2013</h4>
                <h4 class="f5 lh-copy">The Refugee MomBag - Partner</h4>
                <h4 class="f5 lh-copy">IF Gathering - Ambassador</h4>
                <h4 class="f5 lh-copy">Preston Taylor Ministries - Volunteer</h4>
                <h4 class="f5 lh-copy">Yellow Conference - Contributor</h4>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="u-bg--darkgrey pa4">
        <div class="mw8 center ph3-ns pv4">
          <div class="cf ph2-ns outline bg-white">
            <div class="fl w-100 pa2">
              <div class="pa4">
                <h1 class="f3 lh-copy">"Working with Katie has been an amazing experience. Her desire to do good in this world, matched with her skills to create marketing and operational strategies is exceptional. Over the past couple of years, she has worked with Seeds on various projects from our Website to Social Media and Marketing strategies. Katie helped us launch our first online campaign in 2015 which raised three times more funds than we originally projected based on previous years."</h1>
                <div class="pv4">
                  <h4 class="f4 lh-copy">Atti Worku - Founder and Executive Director Seeds of Africa</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="mw8 center ph3-ns pv4">
        <div class="cf ph2-ns">
          <div class="fl w-100 w-50-ns pa2">
            <a href="/" class="f5 h6 lh-copy">© Katie Lentile 2017</a>
          </div>
          <div class="fl w-100 w-50-ns pa2">
              <a target="_blank" href="https://twitter.com/katielentile" class="f5 h6 lh-copy footer-link">Twitter</a>
              <a target="_blank" href="https://www.instagram.com/katielentile/" class="f5 h6 lh-copy footer-link">Instagram</a>
              <a target="_blank" href="https://www.facebook.com/KatieLentile" class="f5 h6 lh-copy footer-link">Facebook</a>
              <a target="_blank" href="https://katielentile.typeform.com/to/RH1f9y" class="f5 h6 lh-copy footer-link">Contact Me</a>
          </div>
        </div>
      </section>
    </body>
  {{/content}}
{{/extend}}
