{{#extend "base"}}
  {{#content "main" mode="prepend" }}

    <body id="page1">
      <section class="mw8 center ph3-ns pv4">
        <div class="cf ph2-ns">
          <div class="fl w-100 w-50-ns pa2">
            <a href="/" class="h2 f4 lh-copy">Katie Lentile</a>
          </div>
          <div class="fl w-100 w-50-ns pa2 u-flex--sb">
            <a href="/about" class="h2 f4 lh-copy nav-link">About</a>
            <a href="/services" class=" h2 f4 lh-copy nav-link">Services</a>
            <a target="_blank" href="https://medium.com/@KatieLentile" class="h2 f4 lh-copy nav-link">Journal</a>
            <div>
              <a href="/services" class="btn btn-primary">Apply</a>
            </div>
          </div>
        </div>
      </section>
      <section class="mw8 center ph3-ns pt4">
        <div class="cf ph2-ns u-relative pv2">
          <h1 class="f2 lh-copy u-absolute title">Helping people grow their businesses well.</h1>
          <div class="fl w-100 w-50-ns pa2">
            <div class="pt6">
              <h4 class="f5 lh-copy pt3">Because there is no ‘one size fits all’ solution to growing a business, I work one-on-one with freelancers, businesses, and organizations to learn what makes you or your product unique. I partner with you to create a strategic plan forward, helping you establish scalable growth, long-term sustainability, and do more of the work you love — <em>the way you want to do it.</em></h4>
              <div class="pv5">
                <a class="btn btn-primary" href="/services">Learn More and Apply</a>
              </div>
            </div>
          </div>
          <div class="fl w-100 w-50-ns pa2">
            <div class="">
              <img src="/img/katie/home.jpg" class="" alt="Headshot of Katie Lentile" />
            </div>
          </div>
        </div>
      </section>
      <div class="pa4 pv6">
        <div class="mw8 center ph3-ns">
          <div class="cf">
            <div class="fl w-100 pa2">
              <h1 class="f2 lh-copy">When we work together you’ll find clarity, growth, and long term success for yourself and your business.</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="u-bg--darkgrey">
        <section class="pv5">
          <div class="mw8 center ph3-ns">
            <h1 class="f2 lh-copy">Work Featured In</h1>
            <div class="cf">
              <div class="fl w-100 w-third-ns pa2">
                <div class="pv2">
                  <h6 class="f4 lh-copy">CNN</h6>
                  <h6 class="f4 lh-copy">The Huffington Post</h6>
                  <h6 class="f4 lh-copy">Conde Nast Traveler</h6>
                </div>
              </div>
              <div class="fl w-100 w-third-ns pa2">
                <div class="pv2">
                  <h6 class="f4 lh-copy">WWD</h6>
                  <h6 class="f4 lh-copy">Teen Vogue</h6>
                  <h6 class="f4 lh-copy">USA Today</h6>
                </div>
              </div>
              <div class="fl w-100 w-third-ns pa2">
                <div class="pv2">
                  <h6 class="f4 lh-copy">RYOT</h6>
                  <h6 class="f4 lh-copy">Parade</h6>
                  <h6 class="f4 lh-copy">Marie Claire</h6>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="u-bg--darkgrey pa4">
        <div class="mw8 center ph3-ns pv4">
          <div class="cf ph2-ns outline bg-white">
            <div class="fl w-100 pa2">
              <div class="pa4">
                <h1 class="f3 lh-copy">“Katie is strategic and has a tremendous understanding of social marketing with great implementation. She is able to convey the vision and direction of organizations in a way that builds trust and continued success.”</h1>
                <div class="pv4">
                  <h4 class="f4 lh-copy">Steven Arthur — Google Head of Industry, Retail</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pa4">
        <div class="mw8 center ph3-ns">
          <div class="cf">
            <div class="fl w-100 pa2">
              <div class="pv4">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                  <form action="//katielentile.us11.list-manage.com/subscribe/post?u=e9a0cdab37f2f8c2ce18e71ba&amp;id=30fb01aa66" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                      <div class="mc-field-group">
                        <div class="pv4">
                          <h1 class="f2 lh-copy">Let's Keep In Touch</h1>
                          <h4 class="f5 lh-copy">Sign up below to receive my monthly emails with tips, updates, and giveaways! (no spam or overload guarantee).</h4>
                        </div>
                        <div class="flex">
                          <input type="email" value="" placeholder="your@email.com" name="EMAIL" class="required email u-input" id="mce-EMAIL">
                          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
                        </div>
                      </div>
                      <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                      </div>
                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e9a0cdab37f2f8c2ce18e71ba_30fb01aa66" tabindex="-1" value=""></div>
                      {{!-- <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div> --}}
                    </div>
                  </form>
                </div>
                {{!-- End Form --}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="mw8 center ph3-ns pv4">
        <div class="cf ph2-ns">
          <div class="fl w-100 w-50-ns pa2">
            <a href="/" class="f5 h6 lh-copy">© Katie Lentile 2017</a>
          </div>
          <div class="fl w-100 w-50-ns pa2">
            <a target="_blank" href="https://twitter.com/katielentile" class="f5 h6 lh-copy footer-link">Twitter</a>
            <a target="_blank" href="https://www.instagram.com/katielentile/" class="f5 h6 lh-copy footer-link">Instagram</a>
            <a target="_blank" href="https://www.facebook.com/KatieLentile" class="f5 h6 lh-copy footer-link">Facebook</a>
            <a target="_blank" href="https://katielentile.typeform.com/to/RH1f9y" class="f5 h6 lh-copy footer-link">Contact Me</a>
          </div>
        </div>
      </section>
    </body>
  {{/content}}
{{/extend}}
