{{#extend "base"}}
  {{#content "main" mode="prepend" }}

    <body id="page3">
      <section class="mw8 center ph3-ns pv4">
        <div class="cf ph2-ns">
          <div class="fl w-100 w-50-ns pa2">
            <a href="/" class="h2 f4 lh-copy">Katie Lentile</a>
          </div>
          <div class="fl w-100 w-50-ns pa2 u-flex--sb">
            <a href="/about" class="h2 f4 lh-copy nav-link">About</a>
            <a href="/services" class=" h2 f4 lh-copy nav-link">Services</a>
            <a target="_blank" href="https://medium.com/@KatieLentile" class="h2 f4 lh-copy nav-link">Journal</a>
            <div>
              <a href="/services" class="btn btn-primary">Apply</a>
            </div>
          </div>
        </div>
      </section>
      <section class="mw8 center ph3-ns">
        <div class="cf ph2-ns">
          <div class="fl w-100 pa2">
            <div class="pv4">
              <h1 class="f2 lh-title pv4">In the chaos of creating, launching, and developing a business or organization, it can be hard to know the best direction for long-term success.</h1>
              <h4 class="f5 lh-copy">The key to building continued success for your business or lifestyle is understanding what makes you and your product unique. From there, I will work with you to create a strategic plan forward, helping you establish scalable growth, long-term sustainability, and an overall sense of confidence in your business.</h4><br>
              <h4 class="f5 lh-copy">I want to do more than just help you grow your business — I want to help you grow your business well.</h4><br>
            </div>
          </div>
        </div>
      </section>
      <section class="pv2">
        <div class="mw8 center ph3-ns">
          <div class="cf ph2-ns">
            <h1 class="f4 lh-copy">In addition to the packages below, Katie and her team provide full-service marketing and operational implementation and execution for their clients. To learn more and request pricing, <a class="f4 lh-copy h1 i-l" href="https://katielentile.typeform.com/to/RH1f9y">please contact us.</a></h1>
          </div>
        </div>
      </section>
      <section class="pv4">
        <div class="mw8 center ph3-ns">
          <div class="cf ph2-ns">
            <div class="pv4">
              <h1 class="f2 lh-copy">Packages</h1>
              <h4 class="f5 lh-copy">To ensure the best service for my clients, I am only able to take on a limited number at a time. Please see options below to inquire about current availability.</h4><br> </div>
            <div class="cf ph2-ns outline mv3">
              <div class="fl w-100 pa2">
                <div class="pa4">
                  <h2 class="f3 lh-copy">Entrepreneurs & Freelancers (4 month minimum - Base $325/mo)</h2>
                  <ul>
                    <li class="f5 lh-copy">- Comprehensive questionnaires to help me get to know you and your goals</li>
                    <li class="f5 lh-copy">- (1) 90-minute session each month to listen to your needs and create a detailed strategy plan</li>
                    <li class="f5 lh-copy">- Insight on the best tools and resources for marketing and operating your business</li>
                    <li class="f5 lh-copy">- Access to online community discussions and networking with other clients and contacts</li>
                    <li class="f5 lh-copy">- Invitation to yearly retreat</li>
                    <li class="f5 lh-copy">- Partnership discounts and gifts</li>
                    <li class="f5 lh-copy">- All communication is with one person</li>
                  </ul>
                  <div class="pv4">
                    <a target="_blank" href="https://katielentile.typeform.com/to/QwudF4" class="btn btn-primary">Apply</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="cf ph2-ns outline mv3">
              <div class="fl w-100 pa2">
                <div class="pa4">
                  <h2 class="f3 lh-copy">Businesses & Organizations (6 month minimum - Base $575/mo)</h2>
                  <ul>
                    <li class="f5 lh-copy">- Comprehensive questionnaires to help me get to know you and your goals</li>
                    <li class="f5 lh-copy">- (1) 90-minute session each month to listen to your needs and create a detailed strategy plan</li>
                    <li class="f5 lh-copy">- Personally oversee the execution of one focus area in your strategy each month</li>
                    <li class="f5 lh-copy">- Insight on the best tools and resources for marketing and operating your business</li>
                    <li class="f5 lh-copy">- Access to online community discussions and networking with other clients and contacts</li>
                    <li class="f5 lh-copy">- Invitation to yearly retreat</li>
                    <li class="f5 lh-copy">- Partnership discounts and gifts</li>
                    <li class="f5 lh-copy">- All communication between 2–5 staff members</li>
                  </ul>
                  <div class="pv4">
                    <a target="_blank" href="https://katielentile.typeform.com/to/QwudF4" class="btn btn-primary">Apply</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="cf ph2-ns outline mv3">
              <div class="fl w-100 pa2">
                <div class="pa4">
                  <h2 class="f3 lh-copy">General Overview Advice or One Specific Strategy (1 session -  Base $1000)</h2>
                  <ul>
                    <li class="f5 lh-copy">- Comprehensive questionnaires to help me get to know you and your goals</li>
                    <li class="f5 lh-copy">- (1) 4-hour half-day session to listen to your needs and create a detailed strategy plan</li>
                    <li class="f5 lh-copy">- Insight on the best tools and resources for marketing and operating your business</li>
                    <li class="f5 lh-copy">- All communication between 1-2 staff members</li>
                  </ul>
                  <div class="pv4">
                    <a target="_blank" href="https://katielentile.typeform.com/to/QwudF4" class="btn btn-primary">Apply</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="u-bg--darkgrey pa4">
        <div class="mw8 center ph3-ns pv4">
          <div class="cf ph2-ns outline bg-white">
            <div class="fl w-100 pa2">
              <div class="pa4">
                <h1 class="f3 lh-copy">"Katie understands the intricacies of both strategy and implementation in a way that allows me to grow my business and do more of what I love."</h1>
                <div class="pv4">
                  <h4 class="f4 lh-copy">Branden Harvey - Influencer and Storyteller</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="mw8 center ph3-ns pv4">
        <div class="cf ph2-ns">
          <div class="fl w-100 w-50-ns pa2">
            <a href="/" class="f5 h6 lh-copy">© Katie Lentile 2017</a>
          </div>
          <div class="fl w-100 w-50-ns pa2">
            <a target="_blank" href="https://twitter.com/katielentile" class="f5 h6 lh-copy footer-link">Twitter</a>
            <a target="_blank" href="https://www.instagram.com/katielentile/" class="f5 h6 lh-copy footer-link">Instagram</a>
            <a target="_blank" href="https://www.facebook.com/KatieLentile" class="f5 h6 lh-copy footer-link">Facebook</a>
            <a target="_blank" href="https://katielentile.typeform.com/to/RH1f9y" class="f5 h6 lh-copy footer-link">Contact Me</a>
          </div>
        </div>
      </section>
    </body>
  {{/content}}
{{/extend}}
